@{
    ViewData["Title"] = "FAQ";
}


<style>
    .service-row:hover {
        background-color: rgba(193, 170, 162, .9);
    }
    .type-row {
        line-height: 30px;
    }
</style>

<body>
    <div class=" "  style="height:90vh;">
        <h1 class=" ">Frequently Asked Questions </h1>
        

        <div class="th-bg-header mb-2 mx-4 " style="background-image:url('/images/AJBroom.png');">
            <h2 class="th-h1-op text-center mb-0 nanum-myeongjo-regular">Residential Cleaning</h2>
        </div>
        <div class="col-11 mx-auto">
            <table class="table mx-auto">
                <tr class="type-row toggle-service">
                    <th class="toggle-description" colspan="2">
                        Do I have to be home during the cleaning?
                    </th>
                    <th class="toggle-description pe-5 text-end" colspan="1">
                        <i class="fas fa-caret-down"></i>
                    </th>
                </tr>
                <tr class="service-row " style="display: none;">
                    <td colspan="3" class="py-3 px-2">
                        <span class="description ">It is not required for you to be home while we are cleaning, but we will need a way to get in. You may either leave a door unlocked or hide a key.</span>
                    </td>
                </tr>
                <tr class="type-row toggle-service">
                    <th class="toggle-description" colspan="2">
                        I have pets. Will that be a problem?
                    </th>
                    <th class="toggle-description pe-5 text-end" colspan="1">
                        <i class="fas fa-caret-down"></i>
                    </th>
                </tr>
                <tr class="service-row" style="display: none;">
                    <td colspan="3" class="py-3 px-2">
                        <span class="description">Pets are not a problem for us. If yours is aggressive, we ask you keep them in a safe place during the cleaning.</span>
                    </td>
                </tr>
                <tr class="type-row toggle-service">
                    <th class="toggle-description" colspan="2">
                        Should I tidy up before AJ's arrives?
                    </th>
                    <th class="toggle-description pe-5 text-end" colspan="1">
                        <i class="fas fa-caret-down"></i>
                    </th>
                </tr>
                <tr class="service-row" style="display: none;">
                    <td colspan="3" class="py-3 px-2">
                        <span class="description">Do not feel obligated to tidy up or clean before we arrive, it's what we are there for!</span>
                    </td>
                </tr>
            </table>
        </div>

        <div class="th-bg-header mb-2 mx-4" style="background-image:url('/images/AJMop.png');">
            <h2 class="th-h1-op text-center mb-0 nanum-myeongjo-regular">Commercial Cleaning</h2>
        </div>
        <div class="col-11 mx-auto">
            <table class="table">
                <tr class="type-row toggle-service">
                    <th class="toggle-description" colspan="2">
                        What types of properties do you specialize in?
                    </th>
                    <th class="toggle-description pe-5 text-end" colspan="1">
                        <i class="fas fa-caret-down"></i>
                    </th>
                </tr>
                <tr class="service-row " style="display: none;">
                    <td colspan="3" class="py-3 px-2">
                        <span class="description">
                            We do commercial cleanings of all kinds, but we specialize in short term rentals (like AirBnb).
                        </span>
                    </td>
                </tr>
                <tr class="type-row toggle-service">
                    <th class="toggle-description" colspan="2">
                        Are you properly licensed and insured?
                    </th>
                    <th class="toggle-description pe-5 text-end" colspan="1">
                        <i class="fas fa-caret-down"></i>
                    </th>
                </tr>
                <tr class="service-row" style="display: none;">
                    <td colspan="3" class="py-3 px-2">
                        <span class="description">Yes, we are properly liscensed and insured in the state of Michigan.</span>
                    </td>
                </tr>
                <tr class="type-row toggle-service">
                    <th class="toggle-description" colspan="2">
                        If there is a problem, who can I call?
                    </th>
                    <th class="toggle-description pe-5 text-end" colspan="1">
                        <i class="fas fa-caret-down"></i>
                    </th>
                </tr>
                <tr class="service-row" style="display: none;">
                    <td colspan="3" class="py-3 px-2">
                        <span class="description">Call the number listed on the contact page to get help with any issues you may have.</span>
                    </td>
                </tr>
            </table>
        </div>
        
    </div>
</body>
