
@{
    ViewData["Title"] = "Gallery";
}
<link rel="stylesheet" href="~/css/Gallery.css" type="text/css" />

<h1>Gallery</h1>
<div class="text-center">


	<div id="gallery">
		<div><img src="~/images/AJs2_edited.png" /><a href="#lightbox-1">Apartment</a></div>
		<div><img src="~/images/Bathroom.png" /><a href="#lightbox-2">Bathroom</a></div>
		<div><img src="~/images/Bedrooms.png" /><a href="#lightbox-3">Bedroom</a></div>
		<div><img src="~/images/Kitchen.png" /><a href="#lightbox-4">Kitchen</a></div>
		<div><img src="~/images/LivingRoom.png" /><a href="#lightbox-5">Living Room</a></div>
		<div><img src="~/images/LivingRoom1.png" /><a href="#lightbox-6">Living Room</a></div>
		<div><img src="~/images/AJs2_edited.png" /><a href="#lightbox-7">Title</a></div>
		<div><img src="~/images/Bathroom.png" /><a href="#lightbox-8">Title</a></div>
		<div><img src="~/images/Bedrooms.png" /><a href="#lightbox-9">Title</a></div>
		<div><img src="~/images/Kitchen.png" /><a href="#lightbox-10">Title</a></div>
		<div><img src="~/images/LivingRoom.png" /><a href="#lightbox-11">Title</a></div>
		<div><img src="~/images/LivingRoom1.png" /><a href="#lightbox-12">Title</a></div>
 		<div><img src="~/images/AJs2_edited.png" /><a href="#lightbox-13">Title</a></div>
		<div><img src="~/images/Bathroom.png" /><a href="#lightbox-14">Title</a></div>
		<div><img src="~/images/Bedrooms.png" /><a href="#lightbox-15">Title</a></div>
		<div><img src="~/images/Kitchen.png" /><a href="#lightbox-16">Title</a></div>
		<div><img src="~/images/LivingRoom.png" /><a href="#lightbox-17">Title</a></div>
		<div><img src="~/images/LivingRoom1.png" /><a href="#lightbox-18">Title</a></div> 
	</div>
	<div class="lightbox" id="lightbox-1">
		<div class="content">
			<img src="~/images/AJs2_edited.png" />
			<div class="title">Clean Apartment</div><a class="close" href="#gallery"></a>
		</div>
	</div>
	<div class="lightbox" id="lightbox-2">
		<div class="content">
			<img src="~/images/Bathroom.png" />
			<div class="title">Clean Bathroom</div><a class="close" href="#gallery"></a>
		</div>
	</div>
	<div class="lightbox" id="lightbox-3">
		<div class="content">
			<img src="~/images/Bedrooms.png" />
			<div class="title">Clean Bedroom</div><a class="close" href="#gallery"></a>
		</div>
	</div>
	<div class="lightbox" id="lightbox-4">
		<div class="content">
			<img src="~/images/Kitchen.png" />
			<div class="title">Clean Kitchen </div><a class="close" href="#gallery"></a>
		</div>
	</div>
	<div class="lightbox" id="lightbox-5">
		<div class="content">
			<img src="~/images/LivingRoom.png" />
			<div class="title">Clean Living Room</div><a class="close" href="#gallery"></a>
		</div>
	</div>
	<div class="lightbox" id="lightbox-6">
		<div class="content">
			<img src="~/images/LivingRoom1.png" />
			<div class="title">Clean Living Room</div><a class="close" href="#gallery"></a>
		</div>
	</div>
	<div class="lightbox" id="lightbox-7">
		<div class="content">
			<img src="~/images/AJs2_edited.png" />
			<div class="title">Description</div><a class="close" href="#gallery"></a>
		</div>
	</div>
	<div class="lightbox" id="lightbox-8">
		<div class="content">
			<img src="~/images/Bathroom.png" />
			<div class="title">Description</div><a class="close" href="#gallery"></a>
		</div>
	</div>
	<div class="lightbox" id="lightbox-9">
		<div class="content">
			<img src="~/images/Bedrooms.png />
			<div class="title">Description</div><a class="close" href="#gallery"></a>
		</div>
	</div>
	<div class="lightbox" id="lightbox-10">
		<div class="content">
			<img src="~/images/Kitchen.png" />
			<div class="title">Description</div><a class="close" href="#gallery"></a>
		</div>
	</div>
	<div class="lightbox" id="lightbox-11">
		<div class="content">
			<img src="~/images/LivingRoom.png" />
			<div class="title">Description</div><a class="close" href="#gallery"></a>
		</div>
	</div>
	<div class="lightbox" id="lightbox-12">
		<div class="content">
			<img src="~/images/LivingRoom1.png" />
			<div class="title">Description</div><a class="close" href="#gallery"></a>
		</div>
	</div>
	 <div class="lightbox" id="lightbox-13">
		<div class="content">
			<img src="~/images/AJs2_edited.png" />
			<div class="title">Descriptionm</div><a class="close" href="#gallery"></a>
		</div>
	</div>
	<div class="lightbox" id="lightbox-14">
		<div class="content">
			<img src="~/images/Bathroom.png" />
			<div class="title">Description</div><a class="close" href="#gallery"></a>
		</div>
	</div>
	<div class="lightbox" id="lightbox-15">
		<div class="content">
			<img src="~/images/Bedrooms.png" />
			<div class="title">Description</div><a class="close" href="#gallery"></a>
		</div>
	</div>
<div class="lightbox" id="lightbox-16">
		<div class="content">
			<img src="https://picsum.photos/1920/1080/?image=527" />
			<div class="title">Description</div><a class="close" href="#gallery"></a>
		</div>
	</div>
	<div class="lightbox" id="lightbox-17">
		<div class="content">
			<img src="https://picsum.photos/1920/1080/?image=528" />
			<div class="title">Description</div><a class="close" href="#gallery"></a>
		</div>
	</div>
	<div class="lightbox" id="lightbox-18">
		<div class="content">
			<img src="https://picsum.photos/1920/1080/?image=529" />
			<div class="title">Description</div><a class="close" href="#gallery"></a>
		</div>
    </div>

</div>
