
@{
    ViewData["Title"] = "Gallery";
}
<link rel="stylesheet" href="~/css/Gallery.css" type="text/css" />

<h1>Gallery</h1>
<div class="text-center">
<ul>
	<li>
		<a href="">
			<figure>
					<img src='https://justagirlandherblog.com/wp-content/uploads/2015/03/Organized-Closet-with-IKEA-BOAXEL-System-Square.jpg' alt='Organized Closet'>
				<figcaption>Organization</figcaption>
			</figure>
		</a>
	</li>
	<li>
		<a href="">
			<figure>
					<img src='https://cowtownmaids.com/wp-content/uploads/bb-plugin/cache/deep-cleaning-services-01-square-5fe6a982a0db98f0dc3987d966919cb5-g03qst7dmrv9.jpg' alt='House cleaners cleaning under a couch'>
				<figcaption>Deep Cleaning</figcaption>
			</figure>
		</a>
	</li>
	<li>
		<a href="">
			<figure>
					<img src='https://alamaid.com/wp-content/uploads/bb-plugin/cache/moveincleaning-square-5e516a1bf47f7851cbd54714d53a2d86-6128077c04cd4.png' alt='Moving boxes stacked up against wall'>
				<figcaption>Move In/Move Out Cleaning</figcaption>
			</figure>
		</a>
	</li>
	<li>
		<a href="">
			<figure>
					<img src='https://ashlandm.com/wp-content/themes/ashland/images/home/our-services/post-construction.webp' alt='Messy construction site'>
				<figcaption>Post-Construction Clean Up</figcaption>
			</figure>
		</a>
	</li>
	<li>
		<a href="">
			<figure>
					<img src='https://www.seattlestagedtosell.com/wp-content/uploads/bb-plugin/cache/112321_06_web-square.jpg' alt='Beautifully staged home'>
				<figcaption>Real Estate Staging</figcaption>
			</figure>
		</a>
	</li>
	<li>
		<a href="">
			<figure>
					<img src='https://birthwaysinc.com/wp-content/uploads/bb-plugin/cache/happy-feet-web-square-ef9e76636c6d043069220a497e51a067-60b7c1e330fbd.jpg' alt='Newborn baby'>
				<figcaption>Newborn Arrival Cleaning</figcaption>
			</figure>
		</a>
	</li>
		<li>
			<a href="">
				<figure>
					<img src='https://static.tripzilla.com/thumb/c/5/199365_800x.jpg' alt='Clean vacation rental'>
					<figcaption>AirBnb and Vacation Rental Cleaning</figcaption>
				</figure>
			</a>
		</li>
		<li>
			<a href="">
				<figure>
					<img src='https://contentgrid.homedepot-static.com/hdus/en_US/DTCCOMNEW/Articles/Office-Cleaning-Hero.jpg' alt='Cleaners in office'>
					<figcaption>Office Cleaning</figcaption>
				</figure>
			</a>
		</li>
		<li>
			<a href="">
				<figure>
					<img src='https://assets.biglots.com/is/image/biglots/810473454-1?$small$' alt='Laundry Room'>
					<figcaption>Laundry Services</figcaption>
				</figure>
			</a>
		</li>
</ul>
</div>
