@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="~/css/ReviewCarousel.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.maptiler.com/maptiler-sdk-js/v1.2.0/maptiler-sdk.css">
    <link rel="stylesheet" href="~/css/Map.css">

</head>

<body>
    <div class="col-lg-auto">
        <div class="title-bg rounded-3 ">
           <h1>AJ's Cleaning Services</h1>

            <img src="~/images/IndexPhoto.png" class="title-bg" />
        </div>
        <div class="row h-100 mt-2" >
            <div class="testimonials-container col-6 mx-auto">
                <h2 class="text-center mt-1">Testimonials</h2>
                <div class="review ">
                    <div class="heading">
                        <img src="./images/facebookLogo.png" alt="Facebook Logo">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </div>

                    <div class="review__items">
                        <iframe class="review-text" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fnicolewolf1994%2Fposts%2F7920919534587015&show_text=true&width=800" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                    </div>
    
                    <div class="review__items">
                        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fnicolewolf1994%2Fposts%2F7920919534587015&show_text=true&width=800" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                    </div>
                    <div class="review__items">
                        <iframe class="review-text" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fnicolewolf1994%2Fposts%2F7920919534587015&show_text=true&width=800" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                    </div>

                    <div class="review__items">
                        <iframe class="review-text" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fjade.olshove%2Fposts%2F10220142974585739&show_text=true&width=800" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                    </div>

                    <div class="review__items">
                        <iframe class="review-text" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3D10118258737016474%26id%3D2360325&show_text=true&width=800" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                    </div>

                    <div class="review__items">
                        <iframe class="review-text" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3D10118258737016474%26id%3D2360325&show_text=true&width=800" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mx-auto " style="border-radius: 5px;">
                <h2 class="text-center mt-1 map-title" >Service Area</h2>
                <div id="map-container " class="mx-auto map-container">
                    <div id="search-container " class="col-12">
                        <input type="text" id="zipcodeInput" class=" ms-1" placeholder="Enter Zipcode" onkeydown="if (event.key === 'Enter') searchByZipcode()">
                        <button id="searchButton" class="th-btn-pink m-1" style="border-radius:5px;" onclick="searchByZipcode()">Search</button>
                        <p id="responseMessage" class="th-msg pt-1"  ></p>
                        <p id="errorMessage" class="th-msg pt-1 "></p>
                    </div>
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.maptiler.com/maptiler-sdk-js/v1.2.0/maptiler-sdk.umd.js"></script>
    <script src="~/js/ReviewCarousel.js"></script>
    <script src="~/js/HomeGallery.js"></script>
    <script>
        let rev = 0;
        carousel(rev);

        // Function to automatically show the next review after 5000 milliseconds
        setInterval(function () {
            nextReview();
        }, 5000); // Change interval speed
    </script>
    <script>
        maptilersdk.config.apiKey = 'u9ijznZS8hK5mHSHy1I0';
        let map = null;
        let marker = null;

        const serviceableZipcodes = ['49686', '49684', '49690', '49649', '49685', '49643', '49650'];

        // Initializes the map when the page loads
        map = new maptilersdk.Map({
            container: 'map',
            style: maptilersdk.MapStyle.STREETS,
            center: [-85.694123, 44.764513],
            zoom: 8,
        });

        const apiUrl = 'https://api.maptiler.com/data/96790075-7d58-436c-aaaf-9109a901e4f1/features.json?key=u9ijznZS8hK5mHSHy1I0';

        function searchByZipcode() {
            const zipcodeInput = document.getElementById('zipcodeInput').value;
            const responseMessage = document.getElementById('responseMessage');
            const errorMessage = document.getElementById('errorMessage');

            // Clears previous messages
            responseMessage.innerText = '';
            errorMessage.innerText = '';

            if (serviceableZipcodes.includes(zipcodeInput)) {
                responseMessage.innerText = 'You are in our serviceable area!';
            } else {
                errorMessage.innerText = 'Sorry, you are not in our serviceable area.';
            }

            // Removes previous marker
            if (marker) {
                marker.remove();
            }

            // Uses MapTiler Geocoding API to get coordinates for the entered zipcode
            const geocodingUrl = `https://api.maptiler.com/geocoding/${zipcodeInput}.json?key=u9ijznZS8hK5mHSHy1I0`;
            fetch(geocodingUrl)
                .then(response => response.json())
                .then(geocodingData => {
                    if (geocodingData.features.length > 0) {
                        const coordinates = geocodingData.features[0].geometry.coordinates;

                        // Add a marker for the entered zipcode
                        marker = new maptilersdk.Marker()
                            .setLngLat([coordinates[0], coordinates[1]])
                            .addTo(map);

                        console.log('Found coordinates for zipcode:', zipcodeInput, coordinates);
                    } else {
                        console.log('No coordinates found for the entered zipcode:', zipcodeInput);
                    }
                })
                .catch(error => {
                    console.error('Error searching for zipcode:', error);
                });
        }

        map.on('load', async function () {
            try {
                const response = await fetch(apiUrl);
                const geojson = await response.json();

                map.addSource('AJs', {
                    type: 'geojson',
                    data: geojson
                });

                map.addLayer({
                    'id': 'AJs',
                    'type': 'fill',
                    'source': 'AJs',
                    'layout': {},
                    'paint': {
                        'fill-color': '#98b',
                        'fill-opacity': 0.8
                    }
                });
            } catch (error) {
                console.error('Error loading GeoJSON:', error);
            }
        });
    </script>
    <footer>
        <div class="footer-details">
            <div class="row">
                <div class="col-md-3 text-center">
                    <!-- Logo linked to Facebook -->
                    <a href="https://www.facebook.com/AJsCleanSVC" target="_blank" style="color: #3c5a99">
                        <i class="fab fa-facebook" style="font-size: 22px;"></i>
                    </a>
                </div>
                <div class="col-md-3">
                    <!-- Phone number -->
                    <a href="tel:231-714-8786"><i class="fas fa-phone"> </i> 231-714-8786</a>
                </div>
                <div class="col-md-3">
                    <!-- Email address -->
                    <a href="mailto:ajscleaningservices@gmail.com"><i class="fas fa-envelope"> </i> ajscleaningservices@gmail.com</a>
                </div>
                 <!-- Copyright notice -->
            <div class="col-md-3 text-center">
                <p>&copy; 2024 AJ's Cleaning Services</p>
            </div>
            </div>
        </div>
    </footer>
</body>
