@{
    ViewData["Title"] = "Meet The Team";
}
<link rel="stylesheet" href="~/css/team.css" type="text/css" />


<h1>@ViewData["Title"]</h1>


<div class="row">

    <div class="column">
        <div class="card">
            <img src="~/images/teams/Team-Janelle.jpg" alt="Janelle" style="width:100%">
            <div class="container">
                <h2>Janelle</h2>
                <p class="title">Owner</p>
                <p class="bio">Some text that describes me lorem ipsum ipsum lorem.</p>
            </div>
        </div>
    </div>
 

    <div class="column">
        <div class="card">
            <img src="~/images/teams/Team-Alyssah.jpg" alt="Alyssah" style="width:100%">
            <div class="container">
                <h2>Alyssah</h2>
                <p class="title">Owner</p>
                <p class="bio">Some text that describes me lorem ipsum ipsum lorem.</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="~/images//teams/Team-Meatloaf.jpg" alt="Meatloaf" style="width:100%">
            <div class="container">
                <h2>Meatloaf</h2>
                <p class="title">The Goodest Boy</p>
                <p class="bio">I like long walks through the park, and the smell of rotisserie chicken. My cleaning specialty is licking plates clean.</p>
            </div>
        </div>
    </div>
</div>
