.map-container {
    width: 100%;
    height: auto;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width: 450px ;
    margin-bottom:10px;
}

#map {
    width: 100%;
    height: 300px;
}

#search-container {
    background-color: #e6d9c7;
    padding: 10px;
    margin: 0;
}

#searchButton {
    background-color: #c1aaa2;
}

#zipcodeInput {
    margin-right: 3px;
    width: 120px;
}

#responseMessage,
#errorMessage {
    display: inline-flex;
    vertical-align: top;
    padding:0px;
}

#responseMessage {
    color: darkolivegreen;
    font-weight: bold;
    margin-top: 5px;
}

#errorMessage {
    color: darkred;
    font-weight: bold;
    margin-top: 5px;
}

