.testimonials-container {
    width: 100%;
    max-width: 400px;
}
.review-text {
    height: 100%; /* Occupy all available space within the review__items container */
    overflow: auto; /* Enable scrolling if content exceeds the available space */
}
.review {
    position: relative;
    height: 100%; /* Ensure the review section fills the container */
    margin: 0 auto; /* Center the review container */
    padding: 10px;
    border: 2px solid #000000;
    background-color: #e6d9c7;
    overflow: auto;
}

.review__items iframe {
    margin-top: 10px;
    overflow-wrap: break-word; /* Allow long words to break and wrap onto the next line */
    height: 400px; /* Set the height to fill the remaining space */
}

.review iframe {
    display: block;
    width: 100%;
    height: 100%; /* Fill the entire height of the review item */
}
.heading {
    margin-bottom: 20px; /* Adjust as needed */
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Align items vertically */
}

    .heading img {
        width: 40px; /* Adjust the size of the Facebook logo */
        height: auto; /* Maintain aspect ratio */
        margin-right: 10px; /* Adjust spacing */
    }

.fa {
    font-size: 20px; /* Decreased size for stars */
    color: orange;
    margin-right: 5px; /* Adjust spacing */
}

.review-text{
    height:fit-content;
}
/* Responsive adjustments */
@media (max-width: 768px) {
    .heading {
        flex-wrap: nowrap; /* Prevent wrapping on smaller screens */
    }

        .heading img {
            width: 30px; /* Adjust size for smaller screens */
            margin-right: 0; /* Remove right margin */
        }

    .fa {
        font-size: 16px; /* Decrease size further for smaller screens */
        margin-right: 0; /* Remove right margin */
    }
}
