.testimonials-container {
    width: 100%;
    max-width: 470px;
    height: 338px;
    border-radius: 5px;
    max-height: fit-content;

}
.review-text {
    overflow: auto;
    min-height: 300px;
}
.review {
    position: relative;
    height: 100%; /* Ensure the review section fills the container */
    margin: 0 auto; /* Center the review container */
    padding: 10px;
    border-radius: 5px;
    background-color: #e6d9c7;
    box-shadow: 0px 5px 24px 4px rgba(140,154,141,1);
    -webkit-box-shadow: 0px 5px 24px 4px rgba(140,154,141,1);
    -moz-box-shadow: 0px 5px 24px 4px rgba(140,154,141,1);
}

.review__items iframe {
    margin-top: 10px;
    overflow-wrap: break-word; /* Allow long words to break and wrap onto the next line */

}

.review iframe {
    display: flex;
    width: 100%;
    height: 100%; 
}
.heading {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Align items vertically */
    margin:0 auto 10px auto;
}

    .heading img {
        width: 40px; /* Adjust the size of the Facebook logo */
        height: auto; /* Maintain aspect ratio */
        margin-right: 10px; /* Adjust spacing */
    }

.fa {
    font-size: 20px; /* Decreased size for stars */
    color: orange;
    margin-right: 5px; /* Adjust spacing */
}

.review-text{
    height:fit-content;
}
/* Responsive adjustments */
@media (max-width: 768px) {
    .heading {
        flex-wrap: nowrap; /* Prevent wrapping on smaller screens */
    }

        .heading img {
            width: 30px; /* Adjust size for smaller screens */
            margin-right: 0; /* Remove right margin */
        }

    .fa {
        font-size: 16px; /* Decrease size further for smaller screens */
        margin-right: 0; /* Remove right margin */
    }
    .testimonials-container{
        margin-bottom:50px;
    }
}
